<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AniReview</title>
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>
    <body class="dark-mode">
        <header>
            <nav class="align-vert">
                <a href="/">AniReview</a>
                <a class="flex" href="/demo/users">Users</a>
                <a class="flex" href="/demo/anime">Anime</a>
                <a class="flex" href="/demo/reviews">Reviews</a>
            </nav>
        </header>
        <main class="flex">
            <section id="overview">
                <h1>Overview</h1>
                <p>
                    This is an Anime Review API that allows users to create
                    reviews for anime that exist in the database. This page
                    exists to provide documentation on the API. Click on one of
                    the tabs on the top to try out the api!
                </p>
            </section>
            <section id="info">
                <h1>Info</h1>
            </section>
        </main>
    </body>
</html>