.anime, .anime-preview {
    width: 480px;
}

.anime-preview {
    position: relative;
    border: 2px solid orange;
    border-radius: 8px;
    height: 80px;
    margin: 12px 0;
}

.anime-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    border-radius: 4px;
    height: auto;
    width: 54px;
}

.field, .type-year-rating {
    position: absolute;
    left: 70px;
}

.title {
    top: 10px;
    font-size: 20px;
}

.type-year-rating {
    bottom: 14px;
    display: flex;
    width: 100%;
}

.type {
    width: 13%;
}

.year {
    width: 20%;
}

.rating {
    width: 20%;
}

.status {
    width: 30%;
}