<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/styles/styles.css" />
        <link rel="stylesheet" href="/styles/user-styles.css" />
    </head>
    <body class="dark-mode">
        <header>
            <nav class="align-vert">
                <a href="/">AniReview</a>
                <a class="flex" href="/demo/users">Users</a>
                <a class="flex" href="/demo/anime">Anime</a>
                <a class="flex" href="/demo/reviews">Reviews</a>
            </nav>
        </header>
        <main class="flex">
            <div class="content">
                <div class="space-between user">
                    <h1>Users</h1>
                    <div class="doc-actions">
                        <a href="/demo/users/create">
                            <div id="create-doc" class="align-vert">
                                <p>+</p>
                                <p>Create User</p>
                            </div>
                        </a>
                        <a href="/demo/users/reset">
                            <div id="remove-doc" class="align-vert">
                                <p>-</p>
                                <p>Reset Users</p>
                            </div>
                        </a>
                    </div>
                </div>
                <% if (users.length === 0) { %>
                    <h1 class="empty">No users exist yet</h1>
                    <p>Press the green button next to Users to create one!</p>
                <% } else { %>
                    <% users.forEach(u => { %>
                        <a href="/demo/users/<%= u._id %>">
                            <div class="user-preview">
                                <div class="profile-icon"></div>
                                <p class="name field"><%= u.name %></p>
                                <p class="username field"><%= u.username %></p>
                            </div>
                        </a>
                    <% }) %>
                <% } %>
            </div>
        </main>
    </body>
</html>
